#main-menu {
  background-color: aqua;
}

#home {
  background-color: blue;
}

#admin {
  background-color: brown;
}

#parksandrec {
  background-color: yellow;
}

#brooklyn99 {
  background-color: blueviolet;
}